* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #352f5b;
    color: #fff;
    margin: auto;
}

.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #352f5b, rgb(255, 255, 55, 0.19));
}

h1 {
    text-align: center;
    padding: 10px;
}
p{
    text-transform: capitalize;
}
.container .tasks{
    width: 60%;
    max-height: 50vh;
    overflow-y: scroll;
    scrollbar-width: none;
}
.container .task {
    padding: 15px 20px;
    margin: 10px 0;
    background: #ffffff36;
    border-radius: 7px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid #ffffff33;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .task i {
    cursor: pointer;
    opacity: .5;
    transition: all .3s ease;
    font-size: 29px;
}

.container .task .bxs-star:hover {
    color: goldenrod;
    opacity: 1;
}

.container .task .bx-trash:hover {
    color: tomato;
    opacity: 1;
}
.container .task .bx-angry:hover{
    color: goldenrod;
    opacity: 1;
}

.container .task .bx-angry.bxs-user-check , .star{
    color: goldenrod !important;
    opacity: 1 !important;
}

.container form {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
form>div {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input {
    width: 300px;
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
}

form .bx-message-square-add {
    font-size: 45px;
    margin-left: 10px;
    cursor: pointer;
    opacity: .5;
    transition: all .3s ease;
}

form .bx-message-square-add:hover {
    opacity: 1;
}

form .sub-nessg{
    background-color: transparent;
    border: none;
    color: #fff;
}


.finsh {
    text-decoration: line-through;
    text-decoration-style: double ;
}